.content, .page { position: relative; }
	.controlsActive { border: 1px solid red; }
		.contentControls, .pageControls { display: none; position: absolute; right: 0; top: 0; }
			.controlsActive .contentControls { display: block; }
			.controlsActive .pageControls { display: block; }